[submodule "tape"]
	path = tape
	url = https://github.com/songlab-cal/tape.git
[submodule "StructTokenBench"]
	path = StructTokenBench
	url = https://github.com/KatarinaYuan/StructTokenBench.git
[submodule "ProteinMPNN"]
	path = ProteinMPNN
	url = https://github.com/dauparas/ProteinMPNN.git
